# Compiled class files
*.class
target/



# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual Machine crash logs
hs_err_pid*

# IDEA IntelliJ specific files
.idea/
*.iml
*.iws

# Output directory
out/

# Uncomment the following line if you also want to exclude the Gradle build directory
# build/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external or thumb drives
.Spotlight-V100
.Trashes